.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #515272;
  height: 80px;
  z-index: 1000;
}

/* Logo (span con icono y texto) */
.main span {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  color: white;
  font-size: 32px;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

.main span svg {
  width: 80px;
  height: 80px;
}

/* Menú hamburguesa */
.hamburger-menu {
  display: none;
    cursor: pointer;
    z-index: 1100;
    position: relative;
}

.hamburger-icon {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-icon span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

/* Animaciones del ícono al activarse */
.hamburger-menu.active .hamburger-icon span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger-menu.active .hamburger-icon span:nth-child(2) {
  opacity: 0;
}
.hamburger-menu.active .hamburger-icon span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Navegación */
nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 15px;
  transition: all 0.3s;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #ffffff74;
  color: #515272;
}

nav ul li a.active-link {
  font-weight: bold;
  background-color: #000000cf;
}

/* Responsive - móvil */
@media (max-width: 760px) {
.main{
  padding: 0px 1rem;
}
  .hamburger-menu {
    display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 55%;
        height: 40px;
  }

  nav ul {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: #000000cf;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease;
    z-index: 1000;
  }

  nav ul.active {
    right: 0;
  }

  .main span {
    font-size: 24px;
  }

  .main span svg {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 480px) {
  .main {
    padding: 0 15px;
    height: 70px;
  }

  nav ul {
    width: 85%;
  }

  .main span {
    font-size: 20px;
  }

  .main span svg {
    width: 50px;
    height: 50px;
  }
}
