<div class="carousel-container">
  <div class="carousel-header">
    <h2>{{ title }}</h2>
  </div>
  
  <div class="carousel-controls">
    <button 
      class="carousel-button prev" 
      (click)="prev()"
      [disabled]="currentIndex === 0">
      &lt;
    </button>
    
    <div class="carousel-items">
      <div 
        *ngFor="let item of visibleItemsList; trackBy: trackById"
        class="carousel-item"
        (click)="openModal(item)">
        
        <img [src]="item.poster" [alt]="item.nombre">
        
        <div class="item-actions">
          <app-favorite-button [item]="item"></app-favorite-button>
          <app-hide-button 
            [item]="item"
            (ocultado)="onItemOcultado($event)"> <!-- Manteniendo el mismo nombre -->
          </app-hide-button>
        </div>
      </div>
    </div>
    
    <button 
      class="carousel-button next" 
      (click)="next()"
      [disabled]="currentIndex >= (items?.length - visibleItems || 0)">
      &gt;
    </button>
  </div>
</div>