.carousel-wrapper {
  padding-top: 2rem;
    padding:2rem;
    overflow-x: hidden;
    background-color: #4C4265;
  }
  
  .carousel-wrapper h2 {
    color: #fff;
    margin-bottom: 1rem;
  }
  
  .carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  
  .carousel::-webkit-scrollbar {
    display: none;
  }
  
  .col {
    min-width: 200px; /* Ajusta según nuevo tamaño deseado */
    flex: 0 0 auto;
    transition: transform 0.3s ease;
  }
  
  .col:hover {
    transform: scale(1.05);
  }
  
  .col img {
    border-radius: 10px;
    width: 300px;
    height: 200px;
    object-fit: cover; /* ★ Magia aquí ★ */
    object-position: center; /* Centra la imagen */
  }
  