/* Estilos globales para Swiper */
.swiper {
  width: 100%;
  height: auto; /* Cambia de 100% a auto */
  margin: 0;
  padding: 0;
  position: relative; /* Cambia de fixed a relative */
  /* Elimina left: 0 y right: 0 */
}

/* Ajustes para el wrapper de los slides */
.swiper-wrapper {
  display: flex;
  width: 100%; /* Asegura que el wrapper ocupe todo el ancho */
}

/* Ajuste de los slides */
.swiper-slide {
  width: 100%; /* Cada slide ocupa el 100% del contenedor */
  display: flex;
  justify-content: center; /* Centra el contenido dentro del slide */
  align-items: center; /* Centra el contenido verticalmente */
  text-align: center;
  font-size: 18px;
  background: #000; /* Fondo negro */
  margin: 0; /* Elimina márgenes */
  padding: 0; /* Elimina relleno */
}

/* Estilos para las imágenes dentro de los slides */
.swiper-slide img {
  width: 100%; /* La imagen ocupa el 100% del ancho del slide */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: cover; /* Asegura que la imagen cubra el área del slide */
}
