<!-- Carrusel principal -->
<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="assets/img/Avatar.webp" alt="Avatar" />
    </div>
    <div class="swiper-slide">
      <img src="assets/img/Forrest_Gump.webp" alt="Forrest Gump" />
    </div>
    <div class="swiper-slide">
      <img src="assets/img/the_office.webp" alt="Inception" />
    </div>
    <div class="swiper-slide">
      <img src="assets/img/The_Godfather.webp" alt="El Padrino" />
    </div>
    <div class="swiper-slide">
      <img src="assets/img/The_Avengers.webp" alt="Avengers" />
    </div>
  </div>

  <!-- Paginación -->
  <div class="swiper-pagination"></div>

  <!-- Botones de navegación -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
