.main {
  /* Quitamos position: fixed y agregamos alternativas */
  position: sticky;
  top: 0;
  width: 100%; /* Ocupa todo el ancho disponible */
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: #515272;
  height: 80px;
  box-sizing: border-box; /* Para que el padding no afecte el ancho total */

  /* Mantenemos el z-index solo si es necesario para otros elementos */
  z-index: 1000;

  span {
    font-size: 32px;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    gap: 1rem;

    svg {
      width: 80px;
      height: 80px;
    }
  }

  nav {
    margin-left: auto;

    ul {
      display: flex;
      justify-content: flex-end;
      gap: 30px;
      list-style: none;
      margin-right: 2rem;

      li {
        display: flex;
        align-items: center;

        a {
          text-decoration: none;
          font-family: "Lato", sans-serif;
          font-weight: 400;
          font-style: normal;
          color: white;
          font-size: 20px;
          padding: 15px 15px;
          transition: 0.3s;
          border-radius: 5px;

          &:hover {
            background-color: #ffffff74;
            color: #515272;
          }
        }
      }
    }
  }

  .hamburger-menu {
    display: none;
    // (resto igual)
  }
}